@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GangwonEdu_OTFBoldA';
  color: gray; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.all{
  background-color: rgb(35, 35, 35);
  width: 50%;
}

.chat-box{
/* display: flex; */
}

.chat-list {
  background-color: rgb(35, 35, 35);
  height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.chat-list div {
  margin-top: 3px;
}

.chat-list div div {
  display: inline-block;
  padding: 3px;
  background-color: black;
}

.my-chat {
  text-align: right;
  display: flex;
  justify-content: space-between
}

.my-chat div {
  color: rgb(240, 118, 89);
  
}

.other-chat div {
  color: rgb(69, 146, 228);
}

/* 실습5 DM 기능 */
.secret-chat div {
  color: greenyellow;
}

.notice {
  color: gray;
  text-align: center;
  font-size: 12px;
}

.d-none {
  display: none;
}

.input {
  padding: 5px;
}
.msg-box{
  display: flex;
  width: 100%;
}

divnum{
  margin-right: 5px;
}

.my-chat-time{
  text-align: right;
  font-size: 0.8rem;
}
.other-chat-time{
  margin-left: 1rem;
  font-size: 0.8rem;
}


.btn-pass{
  display: flex;
  justify-content: flex-end;
  margin-left: 93%;
  /* margin-top: 7px; */
}

#message{
  margin: 5px;
}