@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GangwonEdu_OTFBoldA';
}

.chat-list {
  background-color: rgb(25, 25, 25);
  width: 30%;
  height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.chat-list div div {
  display: inline-block;
  padding: 3px;
}

.chat-list div {
  margin-top: 3px;
}

.my-chat div {
  background-color: rgb(238, 122, 120);
}

.my-chat {
  text-align: right;
}

.other-chat div{
  background-color: rgba(150, 203, 255);
}


