<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쿠키연습</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>쿠키 연습하기</h1>
    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdrssopLabel">
              쿠키 연습하기 !
            </h5>
          </div>
          <div class="modal-body">
            광고! <br> 쿠키 연습하기
            <form name="cookieSet">
              <input type="checkbox" id="myCheckbox" name="cookies" />
              <label id="myCheckbox">오늘 하루 보지않기</label>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="cookieSetter();"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const data = "<%= id %>";
      console.log(data);
      document.addEventListener("DOMContentLoaded", function () {
        var myModal = new bootstrap.Modal(document.getElementById("myModal"));
        if (data == "good") {
          myModal.hide();
        } else {
          myModal.show();
        }
      });
      let checkbox = document.getElementById("myCheckbox");
      const cookieSetter = () => {
        if (checkbox.checked) {
          axios({
            method: "GET",
            url: "/setCookie",
            params: {
              name: "names",
              val: "hideModal",
            },
          }).then((res) => {
            console.log(res.data);
          });
        } else {
          console.log("noooo");
        }
      };
    </script>
  </body>
</html>